*
h1{
    text-align: center;
}
.middle{
    margin-bottom: 50px;
}
h2{
    text-align: center;
}
h2{
    text-align: center;
}
h2{
    text-align: center;}
p{
    text-align: center;
}
.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first{ 
    margin-left: 100px;
    
}
.second{
    margin: 0px 20px;
}
.third{
    margin-right: 40px;
}
img{
    width: 33%;
}
/*не разобрался с картинками и нижним подчёркиванием, к следующему уроку обязательно исправлюсь*/